.relative {
    height: 300px;
    width: 300px;
    background-color: yellow;
    border: 2px double black;
    /* position:relative; */
    /* position: absolute; */
    /* position: fixed; */
    position: sticky;
    top: 50px;
    left: 150px;
}