.container{
    display: grid;
    /* grid-template-columns: 25% 75%; */
    /* grid-template-rows: 30% 70%; */
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
.box{
    height: 100px;
    border: 2px solid black;
    background-color: yellowgreen;
    font-size: 6em;
    text-align: center;
}