.container{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 50px auto;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px;
    width: 300px;
    background-color: lightblue;
    transition: transform 0.5s ease;
}

.text img{
    height: 100px;
    width: 100px;
    margin-bottom: 10px;
}

.text:hover{
    transform: scale(1.2);
}