:root{
    --background-color: orange;
    --color: white;
}
body{
    background-color: var(--background-color, orange);
    color: var(--color, white);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1{
    border-bottom: 2px solid white;
    padding-bottom: 10px;
}
button{
    background-color: white;
    color: var(--background-color, blueviolet);
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}
button:hover{
    background-color: white;
    color: var(--background-color, blueviolet);
}